# terraform files
.terraform
**/.terraform/*
.terraform.d
**/.terraform.*
**/*.tfplan
*.tfstate
*.tfstate.*
.vscode
.idea
.idea

.pem

# vars 
# **/variables.tf
# **/variable.tf
# **/*.*.tfbackend
# **/*.tfvars
